.container {
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background: white;
}

.container:hover {
  box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
}

.card {
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.image {
  width: 100%;
  object-fit: cover;
}

.title {
  margin: 1rem 0;
}

.button {
  margin-top: 2rem;
  margin-left: 0;
  position: static;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #22447b;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}

.button:hover {
  background-color: #6b82a7;
  transform: scale(1.04);
}

@media (max-width: 400px) {
  .card {
    width: 90%;
  }
}

/* FAVOURITE CARD */

.card_fav .container {
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 50%;
}

.card_fav button {
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .card_fav .container {
    width: 90%;
  }
}
