.wrapper {
  margin: auto;
  width: 90%;
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
}

.active {
  background-color: #22447b;
  color: white;
}

h2 {
  margin-bottom: 2rem;
  color: rgb(7, 0, 62);
}

li {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

ul {
  margin-top: 2rem;
}

img {
  border-radius: 4px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

button {
  padding: 1rem 2rem;
  color: #313131;
  background: white;
  border: 2px solid #22447b;
  border-radius: 4px;
  margin: 0 2rem;
  font-weight: 600;
  cursor: pointer;
}

.info {
  align-items: center;
  justify-content: center;
  margin-left: 2.5rem;
}

.summary {
  font-size: 18px;
  line-height: 30px;
}

.loading {
  text-align: center;
  font-size: 26px;
  color: rgb(40, 142, 0);
  font-weight: 500;
}

.error {
  text-align: center;
  font-size: 26px;
  color: rgb(162, 2, 2);
  font-weight: 500;
}

@media (max-width: 1200px) {
  .wrapper {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info {
    width: 80%;
    margin: 2rem auto;
  }

  .btn {
    margin-top: 3rem;
  }

  .box {
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .box {
    width: 80%;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 450px) {
  .btn {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  button {
    margin: 1rem auto;
  }
}
