.header {
  justify-content: flex-end;
  height: 4rem;
  display: flex;
  align-items: center;
  width: 90%;
}

.home {
  margin-right: 20px;
  transition: 0.3s ease-in-out;
}

.home:hover {
  transform: scale(1.04);
  transform: scale(1.04);
  color: #6b82a7;
}

.icon {
  margin-right: 3px;
  color: #22447b;
}

.link {
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.link:hover,
.favourite:hover {
  transform: scale(1.04);
  color: #6b82a7;
}

a {
  text-decoration: none;
  color: #22447b;
}

h4 {
  font-size: 1.2rem;
}
