form {
  margin: auto;
  position: relative;
  width: 30%;
  margin-top: 50px;
  margin-bottom: 80px;
}

input {
  border-radius: 4px;
  background-color: white;
  font-size: 1.2rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-color: #22447b;
  padding: 0.5rem 3rem;
}

input:focus {
  border: lightblue;
}

.icon {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(100%, -50%);
  color: #22447b;
  cursor: pointer;
}

@media (max-width: 900px) {
  form {
    width: 50%;
  }
}

@media (max-width: 700px) {
  form {
    width: 50%;
  }
}

@media (max-width: 400px) {
  form {
    width: 65%;
  }
}
